@using Apps.Admins;
@using Apps.Admins.Core;
@using Apps.Common;
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}

<div class="mvctool">
    <input id="txtQuery" type="text" class="searchText" />
    @Html.ToolButton("btnQuery", "icon-search", "查询", true)
    @Html.ToolButton("btnCreate", "icon-add", "新增", true)
    @Html.ToolButton("btnEdit", "icon-edit", "编辑", true)
    @Html.ToolButton("btnDetails", "icon-details", "详细", true)
    @Html.ToolButton("btnDelete", "icon-remove", "删除", true)
</div>
<table id="List"></table>

<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")


<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '@Url.Action("GetList")',
            width: $(window).width() - 10,
            methord: 'post',
            height: $(window).height() - 35,
            fitColumns: true,
            sortName: 'CreateTime',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            //rownumbers: true,//行号
            columns: [[
                { field: 'Id', title: '', width: 80, hidden: true },
                { field: 'Name', title: '', width: 80, sortable: true },
                { field: 'Remark', title: '', width: 80, sortable: true },
                { field: 'UsingDep', title: '', width: 80, sortable: true },
                { field: 'TypeId', title: '', width: 80, sortable: true },
                { field: 'State', title: '是否完成流程', width: 80, sortable: true },
                { field: 'CreateTime', title: '', width: 80, sortable: true },
                { field: 'HtmlForm', title: '', width: 80, sortable: true },
                { field: 'AttrA', title: '', width: 80, sortable: true },
                { field: 'AttrB', title: '', width: 80, sortable: true },
                { field: 'AttrC', title: '', width: 80, sortable: true },
                { field: 'AttrD', title: '', width: 80, sortable: true },
                { field: 'AttrE', title: '', width: 80, sortable: true },
                { field: 'AttrF', title: '', width: 80, sortable: true },
                { field: 'AttrG', title: '', width: 80, sortable: true },
                { field: 'AttrH', title: '', width: 80, sortable: true },
                { field: 'AttrI', title: '', width: 80, sortable: true },
                { field: 'AttrJ', title: '', width: 80, sortable: true },
                { field: 'AttrK', title: '', width: 80, sortable: true },
                { field: 'AttrL', title: '', width: 80, sortable: true },
                { field: 'AttrM', title: '', width: 80, sortable: true },
                { field: 'AttrN', title: '', width: 80, sortable: true },
                { field: 'AttrO', title: '', width: 80, sortable: true },
                { field: 'AttrP', title: '', width: 80, sortable: true },
                { field: 'AttrQ', title: '', width: 80, sortable: true },
                { field: 'AttrR', title: '', width: 80, sortable: true },
                { field: 'AttrS', title: '', width: 80, sortable: true },
                { field: 'AttrT', title: '', width: 80, sortable: true },
                { field: 'AttrU', title: '', width: 80, sortable: true },
                { field: 'AttrV', title: '', width: 80, sortable: true },
                { field: 'AttrW', title: '', width: 80, sortable: true },
                { field: 'AttrX', title: '', width: 80, sortable: true },
                { field: 'AttrY', title: '', width: 80, sortable: true },
                { field: 'AttrZ', title: '', width: 80, sortable: true }
            ]]
        });
    });
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s('提示', mes);
    }
    $(function () {
        $("#btnExport").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/SysHelper/ReportControl'></iframe>");
            $("#modalwindow").window({ title: '导出', width: 320, height: 200, iconCls: 'icon-add' }).window('open');
        });
        $("#btnCreate").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/Flow_Form/Create'></iframe>");
            $("#modalwindow").window({ title: '新增', width: 700, height: 400, iconCls: 'icon-add' }).window('open');
        });
        $("#btnEdit").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $("#modalwindow").html("<iframe width='100%' height='99%'  frameborder='0' src='/Flow_Form/Edit?id=" + row.Id + "&Ieguid=" + GetGuid() + "'></iframe>");
                $("#modalwindow").window({ title: '编辑', width: 700, height: 430, iconCls: 'icon-edit' }).window('open');
            } else { $.messageBox5s('提示', '@Suggestion.PlaseChooseToOperatingRecords'); }
        });
        $("#btnDetails").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0' src='/Flow_Form/Details?id=" + row.Id + "&Ieguid=" + GetGuid() + "'></iframe>");
                $("#modalwindow").window({ title: '详细', width: 500, height: 300, iconCls: 'icon-details' }).window('open');
            } else { $.messageBox5s('提示', '@Suggestion.PlaseChooseToOperatingRecords'); }
        });
        $("#btnQuery").click(function () {
            var queryStr = $("#txtQuery").val();
            if (queryStr == null) {
                queryStr = "%";
            }
            $('#List').datagrid({
                url: '@Url.Action("GetList")?queryStr=' + encodeURI(queryStr)
            });

        });
        $("#btnDelete").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.messager.confirm('提示', '@Suggestion.YouWantToDeleteTheSelectedRecords', function (r) {
                    if (r) {
                        $.post("@Url.Action("Delete")?id=" + row.Id, function (data) {
                            if (data.type == 1)
                                $("#List").datagrid('load');
                            $.messageBox5s('提示', data.message);
                        }, "json");

                    }
                });
            } else { $.messageBox5s('提示', '@Suggestion.PlaseChooseToOperatingRecords'); }
        });
    });
</script>
