@model Apps.Models.Flow.Flow_SealModel
@using Apps.Common;
@using Apps.Models.Sys;
    @using Apps.Admins.Core;
    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
        List<permModel> perm = (List<permModel>)ViewBag.Perm;
        if (perm == null)
        {
            perm = new List<permModel>();
        }
    }

    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                if ($("form").valid()) {
                    $.ajax({
                        url: "@Url.Action("Create")",
                        type: "Post",
                        data: $("form").serialize(),
                        dataType: "json",
                        success: function (data) {
                            if (data.type == 1) {
                                window.parent.frameReturnByMes(data.message);
                                window.parent.frameReturnByReload(true);
                                window.parent.frameReturnByClose()
                            }
                            else {
                                window.parent.frameReturnByMes(data.message);
                            }
                        }
                    });
                }
                return false;
            });
            $("#btnReturn").click(function () {
                window.parent.frameReturnByClose();
            });
        });
    </script>
    <div class="mvctool bgb">
        @Html.ToolButton("btnSave", "icon-save", "保存", perm, "Save", true)
        @Html.ToolButton("btnReturn", "icon-return", "返回", false)
    </div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        <input id="CreateTime" type="hidden" name="CreateTime" value="2000-1-1" />
        <table class="fromEditTable setTextWidth300">
            <tbody>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.Path)：
                    </td>
                    <td style="width:310px">
                        @Html.EditorFor(model => model.Path)
                    </td>
                    <td>@Html.ValidationMessageFor(model => model.Path)</td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.Using)：
                    </td>
                    <td style="width:310px">
                        @Html.EditorFor(model => model.Using)
                    </td>
                    <td>@Html.ValidationMessageFor(model => model.Using)</td>
                </tr>
            </tbody>
        </table>
    }
