@model Apps.Models.Flow.Flow_FormContentModel
@using Apps.Common;
@using Apps.Models.Flow;
@using Apps.Admins.Core;
@using Apps.Models.Sys;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}

<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            if ($("form").valid()) {
                $.ajax({
                    url: "@Url.Action("Edit")",
                    type: "Post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
            }
            return false;
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });
</script>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "icon-save", "保存", perm, "Save", true)
    @Html.ToolButton("btnReturn", "icon-return", "返回", false)
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreateTime)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Title)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Title)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Title)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.UserId)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.UserId)
                </td>
                <td>@Html.ValidationMessageFor(model => model.UserId)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.FormId)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.FormId)
                </td>
                <td>@Html.ValidationMessageFor(model => model.FormId)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.FormLevel)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.FormLevel)
                </td>
                <td>@Html.ValidationMessageFor(model => model.FormLevel)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.CreateTime)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.CreateTime)
                </td>
                <td>@Html.ValidationMessageFor(model => model.CreateTime)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrA)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrA)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrA)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrB)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrB)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrB)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrC)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrC)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrC)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrD)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrD)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrD)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrE)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrE)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrE)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrF)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrF)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrF)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrG)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrG)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrG)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrH)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrH)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrH)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrI)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrI)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrI)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrJ)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrJ)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrJ)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrK)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrK)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrK)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrL)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrL)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrL)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrM)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrM)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrM)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrN)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrN)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrN)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrO)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrP)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrP)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrP)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrQ)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrQ)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrQ)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrR)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrR)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrR)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrS)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrS)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrS)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrT)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrT)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrT)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrU)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrU)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrU)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrV)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrV)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrV)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrW)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrW)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrW)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrX)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrX)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrX)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrY)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrY)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrY)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AttrZ)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AttrZ)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AttrZ)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.CustomMember)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.CustomMember)
                </td>
                <td>@Html.ValidationMessageFor(model => model.CustomMember)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.TimeOut)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.TimeOut)
                </td>
                <td>@Html.ValidationMessageFor(model => model.TimeOut)</td>
            </tr>
        </tbody>
    </table>
}