
@model Apps.Models.Sys.SysExceptionModel
@using Apps.Admins;
@using Apps.Common;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}

<script type="text/javascript">
    $(function () {

        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });
</script>

<div class="mvctool bgb">
    <a id="btnReturn" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-return" style="padding-left: 20px;">返回</span></span></a>
</div>

@using (Html.BeginForm())
{
    <div id="ErrMesList">
        <div id="ErrMesListContent">
            @Html.ValidationSummary(false)
        </div>
    </div>
    <table class="form_table setinput355">
        <tbody>
            <tr>
                <th>
                    @Html.LabelFor(model => model.HelpLink)
                </th>
                <td>
                    @Html.EditorFor(model => model.HelpLink)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.LabelFor(model => model.Message)
                </th>
                <td>
                    @Html.TextAreaFor(model => model.Message, new { @style = "height:100px;width:550px" })
                </td>
            </tr>

            <tr>
                <th>
                    @Html.LabelFor(model => model.Source)
                </th>
                <td>
                    @Html.EditorFor(model => model.Source)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.LabelFor(model => model.StackTrace)
                </th>
                <td>

                    @Html.TextAreaFor(model => model.StackTrace, new { @style = "height:100px;width:550px" })
                </td>
            </tr>

            <tr>
                <th>
                    @Html.LabelFor(model => model.TargetSite)
                </th>
                <td>
                    @Html.TextAreaFor(model => model.TargetSite, new { @style = "height:100px;width:550px" })
                </td>
            </tr>

            <tr>
                <th>
                    @Html.LabelFor(model => model.Data)
                </th>
                <td>
                    @Html.EditorFor(model => model.Data)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.LabelFor(model => model.CreateTime)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.CreateTime)
                </td>
            </tr>

        </tbody>
    </table>
}
